<app-header></app-header>
<main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user
        [user]="user"
        [selected]="selectedUser ? selectedUser.id === user.id : false"
        (userSelected)="onUserSelect($event)"
      />
    </li>
  </ul>
  <ng-container *ngIf="selectedUser; else fallback">
    <app-tasks [user]="selectedUser"></app-tasks>
  </ng-container>
</main>
<router-outlet />

<ng-template #fallback>
  <p id="fallback">Select a user to see their tasks!</p>
</ng-template>
