/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@font-face {
  // Main
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(../public/fonts/Quicksand-VariableFont_wght.ttf) format("truetype");
}

body {
  font-family: "Quicksand";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #271c19;
  color: #fffffe;
  margin: 0;
  padding: 0;
  height: 100%;
}
